*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toast{
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: transform 380ms ease-in-out;
    overflow: hidden;
}

.toast.progressbar::before{
    content: '';
    width: calc(100% * var(--progress));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: red;
}

.toast-container[data-position$="-right"] .toast{
    transform: translateX(110%);
}

.toast-container[data-position$="-left"] .toast{
    transform: translateX(-110%);
}

.toast-container[data-position$="-center"] .toast{
    transform: translateY(-100vh);
}

.toast-container .toast.show{
    transform: translate(0,0);
}

.toast.can-close::after{
    content: '\00D7';
    position: absolute;
    right: 10px;
    top: 5px;
}

.toast-container{
    position: fixed;
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.toast-container[data-position$="-right"]{
    right: 0;
}

.toast-container[data-position$="-left"]{
    left: 0;
}

.toast-container[data-position^="top-"]{
    top: 0;
}

.toast-container[data-position^="bottom-"]{
    bottom: 0;
}

.toast-container[data-position$="-center"]{
    left: 50%;
    transform: translateX(-50%);
}
